<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.eric.cyblood" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Donors"
            android:label="@string/title_activity_donors" >
        </activity>
        <activity
            android:name=".Volunteer"
            android:label="@string/title_activity_volunteer" >
        </activity>
        <activity
            android:name=".ContactUs"
            android:label="@string/title_activity_contact_us" >
        </activity>
        <activity
            android:name=".LearnMore"
            android:label="@string/title_activity_learn_more" >
        </activity>
        <activity
            android:name=".DonorSubmit"
            android:label="@string/title_activity_donor_submit" >
        </activity>
        <activity
            android:name=".VolunteerSubmit"
            android:label="@string/title_activity_volunteer_submit" >
        </activity>
        <activity
            android:name=".Committees"
            android:label="@string/title_activity_committees" >
        </activity>
        <activity
            android:name=".Partners"
            android:label="@string/title_activity_partners" >
        </activity>
        <activity
            android:name=".GreekRules"
            android:label="@string/title_activity_greek_rules" >
        </activity>
        <activity
            android:name=".HowToGetInvolved"
            android:label="@string/title_activity_how_to_get_involved" >
        </activity>
    </application>

</manifest>
